{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2><label class="article-title">How to Use</label></h2>
        <p class="article-content">
            <ol>
                <li>Gunakan generator key bila ingin membangkitkan key pada algoritma kriptografi yang diinginkan</li>
                <li>Masukkan public key / private key terlebih dahulu.</li>
                <li>Anda bisa mengunggah public / private key dengan memilih file tersebut pada lokasi folder keys</li>
                <li>Pilih metode kriptografi kunci publik yang diinginkan</li>
                <li>Pilih mode pemrosesan teks (enkripsi atau dekripsi)</li>
                <li>Masukkan plainteks / cipherteks yang akan diproses</li>
                <li>Tekan tombol Execute untuk memproses plainteks / cipherteks tersebut</li>
            </ol>
        </p>
    </div>
</article>
{% endblock content %}