{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
      <div class="media-body">
      <h2><a class="article-title" href="#">Asymmetric Encryption</a></h2>
        <p class="article-content">
          <form id="cryptography" name="cryptography">
            <div class="key-container">
                <div>
                    <label><b>Public Key</b></label><br>
                    <input type="file" id="public-key-file" name="public-key-file"><br><br>
                    <button id="upload-public-key">Upload</button><br><br>
                    <label><b>Public Key</b></label><br>
                    <input type="text" id="public-key" name="public-key"><br><br> 
                </div>
                <div>
                    <label><b>Private Key</b></label><br>
                    <input type="file" id="private-key-file" name="private-key-file"><br><br>
                    <button id="upload-private-key">Upload</button><br><br>
                    <label><b>Private Key</b></label><br>
                    <input type="text" id="private-key" name="private-key"><br><br>
                </div>
            </div>
            <div class="key-container">
                <div>
                    <label><b>Cryptography Algorithm</b></label><br>
                    <input type="radio" name="choice" value="RSA">
                    <label>RSA</label><br>
                    <input type="radio" name="choice" value="ElGamal">
                    <label>ElGamal</label><br>
                    <input type="radio" name="choice" value="Paillier">
                    <label>Paillier</label><br>
                    <input type="radio" name="choice" value="Elliptic Curve Cryptography">
                    <label>Elliptic Curve Cryptography</label><br><br>
                </div>
                <div>
                    <label><b>Mode</b></label><br>
                    <input type="radio" name="mode" value="Encryption">
                    <label>Encryption</label><br>
                    <input type="radio" name="mode" value="Decryption">
                    <label>Decryption</label><br>
                </div>
            </div>
            <div>
                <label><b>Input Box</b></label><br>
                <textarea name="input-box" rows=5 class="text-area-box"></textarea><br><br>
            </div>
            <div>
                <label><b>Result Box</b></label><br>
                <textarea id="output" name="result-box" rows=5 class="text-area-box"></textarea><br><br>
            </div>
            <button id="submit">Execute</button><br>
          </form>
        </p>
      </div>
    </article>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

    <script type="text/javascript">
    const countResult = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('count') }}");
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.send(JSON.stringify({
                "public-key": $("[name='public-key']").val(),
                "private-key": $("[name='private-key']").val(),
                "choice": $("[name='choice']:checked").val(),
                "mode": $("[name='mode']:checked").val(),
                "input-box": $("[name='input-box']").val()
        }))
        xhr.onreadystatechange = function(e){
            if (this.readyState === 4) {
                document.getElementById("output").value = this.response
            }
        }
    }

    const uploadPublicKey = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('upload_public_key') }}");
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.send(JSON.stringify({
                "public-key-file": document.getElementById("public-key-file").files[0].name
        }))
        xhr.onreadystatechange = function(e){
            if (this.readyState === 4) {
                document.getElementById("public-key").value = this.response;
            }
        }
    }

    const uploadPrivateKey = function(){
        const xhr = new XMLHttpRequest();
        console.log("Aing maung")
        xhr.open("POST", "{{ url_for('upload_private_key') }}");
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.send(JSON.stringify({
                "private-key-file": document.getElementById("private-key-file").files[0].name
        }))
        xhr.onreadystatechange = function(e){
            if (this.readyState === 4) {
                document.getElementById("private-key").value = this.response;
            }
        }
    }

    $('#upload-public-key').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        uploadPublicKey()
    })

    $('#upload-private-key').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        uploadPrivateKey()
    })

    $('#submit').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        countResult()
    })
    </script>
{% endblock content %}